.DS_Store
.env
.env.*
*.log
/vendor
production.rb
web/.htaccess
web/app/languages/*
web/app/mu-plugins/*/
web/app/plugins/*
web/app/upgrade
web/app/uploads/*
web/wp
wp-cli.local.yml

!.env.example
!web/app/languages/.gitkeep
!web/app/plugins/.gitkeep
!web/app/uploads/.gitkeep
