.env
.env.*
*.log
/vendor
web/.htaccess
web/app/mu-plugins/*/
web/app/plugins/*
web/app/upgrade
web/app/uploads/*
web/wp
wp-cli.local.yml

!.env.example
!web/app/plugins/.gitkeep
!web/app/uploads/.gitkeep
